.navbar {
  position: absolute;
  background-color: black;
  box-shadow: none;
  padding-inline: 20px;
}
.grid-navbar {
  display: flex;
  justify-content: start;
  align-items: center;
}
.btnNav {
  margin-inline: 20px;
  margin-bottom: -25px;
  color: orange;
  display: block;
  font-size: medium;
  text-transform: none;
}

.logo {
  width: 300px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
