.cardPerson {
}

.inversePair {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}

#a {
  width: 100px;
  border-radius: 50px;
  background: antiquewhite;
  z-index: 1;
}

#b {
  width: 300px;
  padding-right: 30px;
  margin-right: -40px;
  /* real borders */
  border-right: none;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: -webkit-radial-gradient(
    340px 50%,
    circle closest-corner,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 55px,
    black 56px,
    antiquewhite 57px
  );
}
